[Desktop Entry]
Version=1.0
Name=Attendance Notifier
Comment=Natdemy Attendance Notification System
Exec=/opt/attendance_desktop/attendance_desktop
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
